<div class="collapse navbar-collapse nav" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Blog:Home' %}" style="font-family: Sahel;font-weight: bold;">خانه</a>
    </li>
    {% for cat in category %}
      {% if cat.parent == None %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Blog:Category' cat.slug %}">{{cat.title}}</a>
          {% if cat.children.active %}
            {% include 'Blog/partials/Category_Loop.html' %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>